{% extends 'Seller/base.html' %}
{% load static %}
{% block title %}Change Password done{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile1' %}" class="btn btn-dark">Change password done</a> </li>

            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1 text-center">
            <h3>Password Change Successfully !!!</h3>
            <hr>
            <div> <img  src="{% static 'Seller/giphy/giphy.gif' %}" width="200" height="200" frameBorder="0"
                        class="giphy-embed" allowFullScreen></div>
    <div>
</div>
        </div>
    </div>
</div>
{% endblock main-content %}